<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="title">
    Awsome tetris
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ad recusandae totam dicta molestiae nesciunt, velit laborum reprehenderit cum laboriosam, iste, id tempora unde architecto ullam aliquam! Reprehenderit quis minus sequi id qui cupiditate recusandae debitis placeat corporis saepe? Sed repudiandae non fuga eligendi deleniti est, voluptatum facere incidunt sit vero aperiam illum? Repudiandae veniam delectus eius omnis possimus, itaque commodi mollitia voluptatibus doloribus aperiam, reiciendis magnam sint modi tenetur incidunt provident facere excepturi debitis totam consequatur. Suscipit aspernatur consectetur pariatur quas aliquid odit numquam magnam, perspiciatis minus eaque voluptas tempore est reprehenderit facere optio eos ducimus corrupti ad, dicta quod! Animi, nobis voluptatibus nisi exercitationem placeat sunt recusandae deleniti neque, voluptates reiciendis repudiandae corporis tempora necessitatibus explicabo illo in libero. Ipsum error voluptas veniam maiores tenetur eos omnis mollitia illo ut esse molestias eligendi dolore totam saepe nihil, labore aut sequi. Non eos labore voluptate dolor consectetur, a odio dolorem nemo recusandae? Maxime explicabo, nam est enim facilis, quo nostrum libero magni at ducimus fugiat nisi ipsa omnis praesentium quibusdam commodi ullam, illo officia! Iure perspiciatis illo velit nam nisi, in deleniti nesciunt vero blanditiis non vel facere consequatur modi dolorem accusamus quod eligendi dolore natus impedit? Nobis ullam impedit provident suscipit optio cum, culpa asperiores dolore velit, explicabo obcaecati inventore deleniti. Possimus et quam, unde dolor non nulla. Dicta sint aspernatur fuga magnam odit ipsam sed cupiditate distinctio recusandae consequatur facilis amet culpa possimus iure in soluta, voluptatum dignissimos odio vel ea alias quisquam totam, hic aut! Officiis sint corrupti debitis officia quia omnis, ipsa voluptate repellendus dolores. Quas, minima quaerat quibusdam, aspernatur nam sapiente placeat aut ex, cupiditate nesciunt ullam cum? Eaque veritatis quaerat ratione dicta velit mollitia soluta. Temporibus corrupti, illum assumenda eos deleniti quas, ratione cum dolorum earum porro dolorem, enim blanditiis repellat obcaecati possimus!
</div>
<div class="game">

</div>

<div class="menu">
Menu
</div>

<div class="posts">
    <ul>
        <li>Post</li>
        <li>Post</li>
        <li>Post</li>
        <li>Post</li>
    </ul>
</div>

<div class="footer">
    Footer
</div>

</body>
</html>