<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="title">
    Awsome tetris
    </div>
<div class="game">

</div>

<div class="menu">
Menu
<p>sdfsddfs</p>
<p>sfsdf</p>
sfsdfsdf
dsfsdf
sfsdfdsf
</div>

<div class="posts">
    adadwdsa
    sfsdf
    sfsdfsd
    fdsf
    dsf
    sfsdfds
</div>

<div class="footer">
    Footer
</div>

</body>
</html>