* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    grid-template-rows: minmax(2fr, auto);
    /*justify-items: center;*/
    align-items: start;
    grid-gap: 1em;
}

.title {
    grid-row: 1/2;
    grid-column: 1/5;
    background: black;
    font-size: larger;
    color: white;
    text-align: center;
}

.game {
    grid-row: 2;
    grid-column: 2/4;
    background: red;
    height: 400px;
}

.menu {
    grid-row: 2;
    grid-column: 1;
    background: gold;
    height: 400px;
}

.posts {
    grid-row: 2;
    grid-column: 4;
    background-color: gold;
    height: 400px;
}

.posts,
li {
    background: gold;
}

.footer {
    grid-column: 1/5;
    background: black;
    color: white;
}

.wrapper>div {
    height: 200px;
}